.about {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.about p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}
